
<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    {{> leftMenuArea}}
    
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="/images/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            {{> header}}
            <!-- Mobile Menu start -->
{{> mobileMenu}}
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="/">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Dashboard V.1</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
                
        <div class="container-fluid">
                
            
        <div class="row">
            {{#each calis}}
                {{#with this}}
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="courses-inner res-mg-b-30">
                            <div class="courses-title">
                                <a href="#"><img src="img/courses/1.jpg" alt=""></a>
                                <h2>MATERIA {{class_id}}</h2>
                            </div>

                            <div class="course-des">
                                
                                                            
                    {{#each scores}}
                        {{#with this}}
                                <p><span><i class="fa fa-clock"></i></span> <b class="mayusc">{{type}}: </b>
                                <script>
                                                document.write(Math.round({{score}} * 100) / 100);
                                            </script>
                                    </p>
                                <div class="progress">
                                            <div class="progress-bar progress-bar-danger ctn-vs-1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{score}}%;"> <span class="sr-only">75% Complete</span></div>
                                        </div>
                        

                        {{/with}}
                    {{/each}}
                    <p><span><i class="fa fa-clock"></i></span> <b>PROMEDIO: </b><span class="counter">{{promedio}}</span></p>
                    <div class="progress">
                                            <div class="progress-bar progress-bar-info ctn-vs-1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{promedio}}%;"> <span class="sr-only">75% Complete</span></div>
                                        </div>
                    </div>
                        </div>
                    </div>
                {{/with}}
            {{/each}}                    
                </div>
            </div>
        {{> footer}}
        

